*{
    margin: 5px;
    padding: 5px;
}
/*this is the coding for the page head of W4B*/


#page_head{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}
#logo{
    justify-self: start;
    align-self:self-start
}
#menu{
    justify-self: end;
    align-self: end;
}
/*this is the code for the mobile version of the main body of week 4 assignment B*/

#page_content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
#demo_app{
    display:grid;
    background-color: #B8DDFF;
    color: #0084FF;
    text-align: center;

}
#demo_app>p{
    color: slategray;

}

#app_store{
    height: 75px;
    width: 225px;
    background-color: #0084FF;
    border-radius: 50px;
    
    font-weight: 1000;
    color: antiquewhite;
    
}

#apple{
    height: 25px;
    width: 25px;
    
}
#phone{
    width: 225px;

}
/*this will be code dealing witht he other smaller containers for the website*/


.other_sec{
    display: grid;
    
}
#coding{
    background-color: #CAF0DB;
    color: #54C788;
    font-weight: 900;
    justify-content: center;
}
#code{
    height: 100px;
    width: 100px;
    
}


